
body {
  margin: 0;
  background-color: hsla(89, 43%, 51%, 0.3);
}

h1,
h2,
blockquote {
  font-family: "Abril Fatface", cursive;
}

h3,
h4,
p,
a,
li {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  margin: 0px;
}

h5 {
  font-family: "Merriweather", serif;
  font-style: italic;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  color: #222;
}
a {
  color: green;
  font-size: 25px;
  padding: 0px 28px;
  text-decoration: none;
}

.class:hover {
  color: green;
  font-size: 25px;
  padding: 0px 28px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0px auto 80px auto;
  width: 700px;
  height: 80px;
  background-color: black;
  z-index: 9;
}

#body {
  display: flex;
  width: 700px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}

aside {
  width: 40%;
  height: auto;
  background-color: white;
  z-index: 2;
}

#pic {
  height: 400px;
  background: url("https://cdn.pixabay.com/photo/2015/07/15/11/53/hiker-846094_960_720.jpg");
  background-size: cover;
  background-position: bottom;
}

#kati1 {
  font-family: "Abril Fatface";
  font-size: 25px;
  margin-bottom: 0px;
  padding: 250px 0px 0px 30px;
  color: white;
}

#kati2 {
  font-family: "Abril Fatface";
  font-size: 34px;
  margin-top: 0;
  padding: 0px 0px 0px 70px;
  color: white;
}

blockquote {
  width: 100%;
  margin: 15px 0 0 0;
  background-color: #222;
  color: white;
  position: relative;
  text-align: center;
  font-size: 40px;
  padding: 30px 10px 130px 45px;
  box-sizing: border-box;
  line-height: 4em;
  border-radius: 55px;
  background: rgb(130, 130, 130, 0.4);
}

blockquote::before {
  content: "\201C";
  position: absolute;
  font-size: 120px;
  color: white;
  padding-top: 20px;
  left: 0px;
  top: 0px;
}

main {
  width: 60%;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 0px 10px;
}

#intro {
  font-size: 18px;
}
#topsign {
  height: 100px;
  width: 100px;
  background-color: rgb(130, 130, 130, 0.5);
  border-radius: 50%;
  font-size: 50px;
  font-family: Abril Fatface;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  scroll-behavior: smooth;
}
#topsign:hover {
  background-color: #222;
}
