* {
  margim: 0;
  padding: 0;
}

body {
  margin: none
  background-color: hsla(89, 43%, 51%, 0.3);
}
.active {
  color: white;
  background: #222;
  border: none;
  padding: 10vw 20vw;
  width: 20%;
  height: 10vw;
  font-family: Josefin Sans;
  font-size: 6.5vw;
  cursor: pointer;
  text-decoration: none;
   text-align: center;
  margin: 12vw;
}

.buttons {
  background-color: #222;
  height: 5vw;
  width: 100%;
}

}
.buttons a:hover {
  background-color: green;
  color: black;
}

img {
  margin: 0 10vw;
  border-radius: 55%;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}
.name {
  position: relative;
  border-radius: 55px;
  top: 20vw;
  left: 30vw;
  text-align: justify;
  font-family: Abril Fatface;
  color: #222;
  background: ;
}

section {
  display: flex;
  justify-content: space-between;
}

.first {
  display: flex;
  position: relative;
  margin: 5vw 5vw 15vw 0;
}
.second {
  display: flex;
  position: relative;
  margin: 5vw 5vw 15vw 0;
}
.third {
display: flex;
  position: relative;
  margin: 5vw 5vw 15vw 0;
}
.fourth {
  display: flex;
  position: relative;
  margin: 5vw 5vw 15vw 0;
}
.arden {
  font-family: Josefin Sans;
  display: inline;
  margin: 15vw;
  width: 60%;
}

blockquote {
  font-family: Abril Fatface;
  content: open-quote;
  font-weight: bold;
  font-size: 10vw;
  width: 20vw;
  margin-bottom: 20vw;
  max-height: auto;
  border-radius: 55px;
  background: rgb(130, 130, 130, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: white;
}

#topsign {
  height: 15vw;
  width: 15vw;
  background-color: rgb(130, 130, 130, 0.5);
  border-radius: 50%;
  color: white;
  font-size: 10vw;
  font-family: Abril Fatface;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  cursor: pointer;
  scroll-behavior: smooth;
}
#topsign:hover {
  background-color: green;
}


